$pastelRed: #FF9AA2;
$pastelOrange: #FFB7B2;
$pastelYellow: #FFDAC1;
$pastelGreenYellow: #E2F0CB;
$pastelGreen: #B5EAD7;
$pastelBlue: #C7CEEA;
$pastelPurple: #E0BBE4;


body{
    background-color: darkSlateGray;
}

h2 {
    flex: 1;
    color: white;
    margin: 32px;
}

table {
    flex: 1;
    background: black;
}

tr {
    border: 3px solid black;
    background: grey;
    width: 100%;
    text-align: center;
}

.SRow {
    background-color: $pastelRed;
}

.ARow {
    background-color: $pastelOrange;
}

.BRow {
    background-color: $pastelYellow;
}

.CRow {
    background-color: $pastelGreenYellow;
}

.DRow {
    background-color: $pastelGreen;
}

.ERow {
    background-color: $pastelBlue;
}

.FRow {
    background-color: $pastelPurple;
}

.FullCell {
    flex: 1;
    
}

.HeadingCell {
    width: 128px;
    height: 128px;
    font-size: 32px;
}

img {
    max-width: 128px;
    max-height: 128px;
    margin-left: 16px;
}

.Flex {
    display: flex;
    align-items: flex-start;
}

.Container {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin-left: 25%;
}