h2 {
    color: black
}

tr {
    border: 3px solid black;
    background: grey;
    width: 100%;
}

.SRow {
    background-color: red;
}

.ARow {
    background-color: orange;
}

.BRow {
    background-color: yellow;
}

.CRow {
    background-color: greenyellow;
}

.DRow {
    background-color: green;
}

.ERow {
    background-color: blue;
}

.FRow {
    background-color: blueviolet;
}