body{
    background-color: darkSlateGray;
}

h2 {
    color: white;
    margin: 32px;
}

table {
    width: 100%;
    background: black;
}

tr {
    border: 3px solid black;
    background: grey;
    width: 100%;
    text-align: center;
}

.SRow {
    background-color: #FF9AA2;
}

.ARow {
    background-color: #FFB7B2;
}

.BRow {
    background-color: #FFDAC1;
}

.CRow {
    background-color: #E2F0CB;
}

.DRow {
    background-color: #B5EAD7;
}

.ERow {
    background-color: #C7CEEA;
}

.FRow {
    background-color: #E0BBE4;
}

.FullCell {
    width: 100% - 64px;
}

.HeadingCell {
    width: 64px;
    height: 64px;
}

img {
    height: 64px;
}